<article>
  <header>
    <h2>
      <a href="<%= url("articles/#{article.slug}") %>"><%= article.title %></a>
    </h2>
    <p id="article-meta">
      posted
      <time class="timeago" datetime="<%= article.date.xmlschema %>">
        <%= article.date.strftime "%Y/%m/%d/" %>
      </time>
      by <a href="<%= url("authors/#{article.author_slug}") %>"><%= article.author %></a>
      about <%= linkified_tags article.tags %>
    </p>
  </header>
  <section class="content">
    <%= markdown article.content %>
  </section>
</article>
