<article>
  <header>
    <h2>
      <a href="<%= url(article.slug) %>"><%= article.title %></a>
    </h2>
    <p id="article-meta">
      posted
      <time class="timeago" datetime="<%= article.date.xmlschema %>">
        <%= article.date.strftime "%Y/%m/%d/" %>
      </time>
      by <%= article.author %>
    </p>
  </header>
  <section class="content">
    <%= Redcarpet::Markdown.new(HTMLwithPygments, :fenced_code_blocks => true).render article.content %>
  </section>
</article>
