<article>
  <header>
    <h2>
      <a href="<%= url(post_path post) %>"><%= post.title %></a>
    </h2>
    <p id="post-meta">
      posted
      <time class="timeago" datetime="<%= post.date.xmlschema %>">
        <%= post.date.strftime "%Y/%m/%d/" %>
      </time>
      by <a href="<%= url("authors/#{post.author_slug}") %>"><%= post.author %></a>
      about <%= linkified_tags post.tags %>
    </p>
  </header>
  <section class="content">
    <%= markdown post.content %>
  </section>
</article>
